<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8"/>
		<title>
			Unes Journaux
		</title>
		<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" media="all" />
	</head>
	
	<body>
	<header>
			<h1>Unes de Journaux</h1>
			<nav>
    		<ul class="menu">
        		<li class="menuitem"><a href="/">Accueil</a></li>
        		<li class="menuitem"><a href="Formulaire.html">Journaux</a></li>
			</ul>
 			</nav>
	</header>
	<img id="element" src="/static/tagcloud.png" alt="journal" width="550" height="350">
	
	
	</body>

</html>