<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<title>
			A la Une
		</title>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<h1> Rapport sur ce mot clé : </h1>
		<a href="../"> Retour </a><br /><br />
		<h4> Évolution du nombre d'articles parues en rapport avec le mot clé choisie : </h4>
		<div id='dashboard' style="text-align:center"></div>
		<h4> Liste des articles de la semaine en rapport avec le mot clé : </h4><br/>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script>
			function dashboard(id, fData){
    			var barColor = 'steelblue';
    			function segColor(c){ return {low:"#807dba", mid:"#e08214",high:"#41ab5d"}[c]; }
    			fData.forEach(function(d){d.total=d.freq.low+d.freq.mid+d.freq.high;});
    			function histoGram(fD){
        			var hG={},    hGDim = {t: 60, r: 0, b: 30, l: 0};
        			hGDim.w = 500 - hGDim.l - hGDim.r, 
        			hGDim.h = 300 - hGDim.t - hGDim.b;
        			  
        //creer un svg pour l'histogramme
        			var hGsvg = d3.select(id).append("svg")
            			.attr("width", hGDim.w + hGDim.l + hGDim.r)
            			.attr("height", hGDim.h + hGDim.t + hGDim.b).append("g")
           				.attr("transform", "translate(" + hGDim.l + "," + hGDim.t + ")");

        // fonction pour x-axis
        			var x = d3.scale.ordinal().rangeRoundBands([0, hGDim.w], 0.1)
                		.domain(fD.map(function(d) { return d[0]; }));

        // ajout de x-axis à l'histogramme
        			hGsvg.append("g").attr("class", "x axis")
            			.attr("transform", "translate(0," + hGDim.h + ")")
            			.call(d3.svg.axis().scale(x).orient("bottom"));

        // fonction y-axis.
        			var y = d3.scale.linear().range([hGDim.h, 0])
                		.domain([0, d3.max(fD, function(d) { return d[1]; })]);
		
        // Création des barres de l'histogramme
        			var bars = hGsvg.selectAll(".bar").data(fD).enter()
                		.append("g").attr("class", "bar");
        
        // Création des rectangles
       				bars.append("rect")
            			.attr("x", function(d) { return x(d[0]); })
            			.attr("y", function(d) { return y(d[1]); })
            			.attr("width", x.rangeBand())
            			.attr("height", function(d) { return hGDim.h - y(d[1]); })
            			.attr('fill',barColor)
            
        //Création des labels pour chaque rectangles
        			bars.append("text").text(function(d){ return d3.format(",")(d[1])})
            			.attr("x", function(d) { return x(d[0])+x.rangeBand()/2; })
            			.attr("y", function(d) { return y(d[1])-5; })
            			.attr("text-anchor", "middle");
        		return hG;
    			}
    
    // Récupération des données pour la legende
   			var sF = fData.map(function(d){return [d.State,d.freq];});
    		var hG = histoGram(sF), // creer l'histogramme
        		leg= legend(tF);  // creer la legende
			}
	// Le reste de la page est donné par la fonction wordcloud_view.wordcloud_key ()