h1
{ 
color : #F5F5F5;
text-align : center;
background-color : #5F9EA0;
display: block;
}
h2
{ 
text-align : center;
color : black;
background-color : #F5F5F5;
}

p
{
text-align : center;
display: block;
font-size : 20px;
}

#titre
{
text-align : left;
color : #5F9EA0;
background-color : #F5F5F5;
display: block;
}

img 
{
display : block;
padding: 5px;
border: 50px solid #F5F5F5;
background-color: #F5F5F5;
margin: auto;
}


#prefere
{
background-color : #FF0000;
}

li:nth-child(2n)
{
background-color : white;
color : #000000;
}

.classement
{
display: inline-block;
text-align : justify;
}

a:link {color: black}
a:visited  {color: black}
a:hover {color: blue}
a:active {color: lime}

article
{
margin: 10px 5px 15px 20px;
padding: 5px;
border: 1px solid #AAAAAA;
background-color: #f5f5dc;
}

ul.menu
{
list-style-type: none;
margin: 10px;
padding: 0px;
}
ul.menu li.menuitem
{
display:inline-block;
background-color: #5F9EA0;
padding-top: 10px;
padding-bottom: 10px;
}

ul.menu li.menuitem a
{
color: #F5F5F5;
padding: 10px;
text-decoration: none;
}
ul.menu li.menuitem a:hover
{
padding: 10px;
background-color: #008B8B;
color: white;
}

body {
background-color: #F5F5F5;
}

#tout {
background-color: #f5f5dc;
text-align: left;
width: 100%;
}

section
{
text-align : center;
}


@media screen and (max-width: 640px) {
    section
    {
	clear:both;
	width:100%;
    }
    ul.menu li.menuitem 
	{
	display: block;
	background-color: lightblue;
	padding-top: 10px;
	padding-bottom: 10px;
	}
    
}
