h1
{ 
color:skyblue; 
line-height: 3; margin-top: 0px; 
margin-bottom: 40px;
text-align : center;
background-image : url(/static/bandeau.jpg);
display: block;
}
h2
{ 
text-align : center;
color : black;
background-color : #F5F5F5;
}


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}


.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  box-shadow: 0 0 13px 3px black;
}

.text {
  color: #F5F5F5;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: #F5F5F5;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

p
{
text-align : center;
display: block;
font-size : 20px;
}

#titre
{
text-align : left;
color : #5F9EA0;
background-color : #F5F5F5;
display: block;
}


#prefere
{
background-color : #FF0000;
}

li:nth-child(2n)
{
background-color : white;
color : #000000;
}

.classement
{
display: inline-block;
text-align : justify;
}

a:link {color: black}
a:visited  {color: black}
a:hover {color: blue}
a:active {color: lime}

article
{
margin: 10px 5px 15px 20px;
padding: 5px;
border: 1px solid #AAAAAA;
background-color: #f5f5dc;
}

ul.menu
{
list-style-type: none;
margin: 10px;
padding: 0px;
}
ul.menu li.menuitem
{
display:inline-block;
background-color: #5F9EA0;
padding-top: 10px;
padding-bottom: 10px;
}

ul.menu li.menuitem a
{
color: #F5F5F5;
padding: 10px;
text-decoration: none;
}
ul.menu li.menuitem a:hover
{
padding: 10px;
background-color: #008B8B;
color: white;
}

body {
background-color: #F5F5F5;
}

#tout {
background-color: #f5f5dc;
text-align: left;
width: 100%;
}

section
{
text-align : center;
}


@media screen and (max-width: 640px) {
    section
    {
	clear:both;
	width:100%;
    }
    ul.menu li.menuitem 
	{
	display: block;
	background-color: lightblue;
	padding-top: 10px;
	padding-bottom: 10px;
	}
    
}
